@import "tailwindcss";


/* #4b0505   dark red*/
/* #e30613 light red */
/* #ffffff white */
/* #333 black shade */

/* #0b1f34 dark blue */


:root {
  --dark-red: #4b0505;
  --light-red: #e30613;
  --white: #ffffff;
  --shade-black: #333333;
  --dark-blue: #0b1f34;
}